.contactbar {
    display: flex;
    flex: 2;
    background-color: whitesmoke;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
}


.heading {
    text-align: start;
    background-color: white;
    text-shadow: 0.5rem;
}


.scroll {
    overflow:auto;
}