.link {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.listItem {
  /* margin-right: 20px; */
  /* font-weight: 500; */
  cursor: pointer;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

