.Suggestionbar {
    display: flex;
    flex:6;
    background-color: whitesmoke;
    align-items: flex-start;

}

.Suggestionstyle {
    
    color: lightseagreen;
   
    float: left;
    
}

.heading {
    text-align: start;
    text-shadow: 0.5rem;
}

.searchlogo {
    float: left;
}

.scroll {
    overflow:auto;
}