.Suggestionbar {
    display: flex;
    flex: 2;
    background-color: whitesmoke;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
}

.Suggestionstyle {
    
    color: lightseagreen;
    float: left;
    
}

.heading {
    text-align: start;
    background-color: white;
    text-shadow: 0.5rem;
}

/* .searchlogo {
    float: left;
} */

.scroll {
    overflow:auto;
}